IMG="https://graphacademy.neo4j.com/img/neo4j-administration"
LOCALSTORAGE_PREFIX_KEY="com.neo4j.graphacademy.neo4jadministration."
# @elaine the value was 7 but I think the correct value is 6?
QUIZ_MODULE_COUNT=6
SECTION_TITLES="Intro to Neo4j,Overview Of Admin,Managing a DB,Causal Clustering,Security,Monitoring,The End"
MODULE_TITLE="Neo4j GraphAcademy: Neo4j Administration"
MODULE_ID="neo4j-administration"
MODULE_REGISTER_EVENT_DETAIL="Neo4j Administration"
REDIRECT_URL_PROD="https://neo4j.com/graphacademy/online-training/neo4j-administration/"
REDIRECT_URL_DEV="https://neo4j.com/graphacademy/online-training/neo4j-administration-dev/"
S3_IMG_BUCKET="s3://graphacademy.neo4j.com/img/neo4j-administration/"
