IMG="https://graphacademy.neo4j.com/img/applied-graph-algos"
LOCALSTORAGE_PREFIX_KEY="com.neo4j.graphacademy.appliedalgos."
QUIZ_MODULE_COUNT=5
SECTION_TITLES="Setup,Category Hierarchy,Ordering Search Results,Relevant Reviews,Photo Based Recommendations,Summary"
MODULE_TITLE="Neo4j GraphAcademy: Applied Graph Algorithms"
MODULE_ID="applied-algos"
MODULE_REGISTER_EVENT_DETAIL="Applied Graph Algorithms"
REDIRECT_URL_PROD="https://neo4j.com/graphacademy/online-training/applied-graph-algorithms/"
REDIRECT_URL_DEV="https://neo4j.com/graphacademy/online-training/applied-algos-dev/"
S3_IMG_BUCKET="s3://graphacademy.neo4j.com/img/applied-graph-algos/"
